body {
    margin: 0;
    padding: 0;
}
.start_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 500px;
    background: #ED4C5C;
    padding: 0 100px 0 100px;
}
.focused {
    display: flex;
    flex-direction: column;
    width: 445px;
    color: #fff;
    font-family: Lato;
}
.focused h1 {
    width: 445px;
    height: 107px;
    margin: 0;
    font-size: 36px;
    font-weight: 600;
}
.focused p {
    width: 445px;
    height: 64px;
    color: #FFF;
    text-align: justify;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
.icons_focused {
    display: flex;
    justify-content: space-between;
    width: 134px;
    margin-top: 30px;
}

.photos {
    position: relative;
    display: flex;
    align-items: center;
    width: 550px;
    height: 267px;
}

.bottom_image_left {
    position: absolute;
    left: 0;
    z-index: 1;
}

.top_image {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
   
}

.bottom_image {
    position: absolute;
    right: 0;
    z-index: 2;
}
    /* Contact */


.block_contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 500px;
    background: #fff;
    padding: 0 100px 0 100px;
}

.contact h2{
    width: 445px;
    height: 107px;
    color: #000;
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
}
.contact p {
    width: 434px;
    height: 64px;
    color: #000;
    text-align: justify;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.contact_input {
    width: auto;
    margin-top: 130px;
}
input{
    color: rgba(19, 39, 67, 0.50);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
}
.first_name {
    width: 255px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333;
    margin-right: 30px;
}
.last_name {
    width: 255px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333;
}
.phone_number {
    width: 578px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333;
    margin-top: 24px;

}
select {
    width: 610px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333;
    margin-top: 24px;
    padding: 20px;
    color: rgba(19, 39, 67, 0.50);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.submit {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    border: 1.5px solid #ED4C5C;
    background: #ED4C5C;
    margin-top: 24px;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

 /* Footer */

 .footer_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px 0 100px;
    width: auto;
    height: 435px;

 }


.address h3 {
    color: #101010;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}
.address p {
    color: #101010;
    width: 254px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; 
}

.services {
    width: 150px;
    margin-top: 105px;
}
.services h3 {
    color: #101010;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 50px;
}
.services p {
    color: #000;
    font-family: Lato;
    font-size: 12px;
    width: 254px;
    font-weight: 400;
    line-height: 160%;
}
.get_in_touch {
    margin-top: 35px;
}
.get_in_touch h3{
    color: #101010;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    
}
.get_in_touch a{
    color: #101010;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
.get_in_touch_info {
     margin: 50px 0 11px 0;
}
.footer_icons {
    display: flex;
    width: 100px;
    justify-content: space-between;
   margin-top: 20px;
}

.we_support {
    color: #101010;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}
.we_support h3 {
    margin-bottom: 33px;
}
.we_support img {
    width: 216px;
    height: 31px;

}

.copyright {
    color: #101010;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 100px 0 150px 170px;

}